<p id="notice"><%= notice %></p>

<% @courses.each do |course| %>
  <div class="row">
    <span id="course_header"><%= course.name %></span>
    <br></br>
  </div>
  <% @dishes.each do |dish| %>
    <% if dish.course_id == course.id %>
      <div class="row">
        <div class="col-md-2">
          <%= link_to dish.name, edit_dish_path(dish) %>
        </div>
        <div class="col-md-5">
          <span><%= dish.description %></span>
        </div>
        <div class="col-md-5">
          <%= number_to_currency(dish.price) %>
        </div>
      </div>
      <br>
    <% end %>
  <% end %>
  <p>
    <%= link_to "New Dish", new_dish_path(course_id: course.id), :class => "btn btn-primary btn-xs" %>
  </p>
  <br></br>
<% end %>
<div class="row">
  <div class="col-md-4">
    <%= image_tag image_url('sticks.jpg'), class: "course_pic" %>
  </div>
  <div class="col-md-4">
    <%= image_tag image_url('mac.jpg'), class: "course_pic" %>
  </div>
  <div class="col-md-4">
    <%= image_tag image_url('pie.jpg'), class: "course_pic" %>
  </div>
</div>
